footer{
  padding: 30px 0;
  width: 90%;
  margin: auto;
  height: 130px;
  display: flex;
  .footer-logo{
    img{
      height:30px;
      margin-bottom: 20px;
    }
  }
  .footer-links{
    margin-left: auto;
    ul{
      display: flex;
      list-style-type: none;
      li{
        margin: 5px;
      }
    }
    .footer-imprint{
      a{
        color: black;
        margin-left: 10px;
        &:hover{
          color: $projectColor;
          text-decoration: none;
        }
      }
    }
  }
}
