@mixin display-flex{
  display: flex;
  align-items: center;
}

@mixin font-family{
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
}

@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin main-container-settings{
  margin: auto;
  text-align: center;
}

@mixin main-container-h2-settings{
  text-transform: uppercase;
  color: $projectColor;
  margin-bottom: 20px;
}

@mixin main-container-h2-settings-inverted{
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

@mixin main-container-button-settings{
  margin-top: 20px;
  width: 33%;
  color: white;
  background-color: $projectColor;
  font-weight: 500;
  height: 48px;
  padding: 0 15px;
  border: 0;
}

@mixin main-container-button-settings-inverted{
  margin-top: 20px;
  width: 33%;
  color: $projectColor;
  background-color: white;
  font-weight: 500;
  height: 48px;
  padding: 0 15px;
  border: 0;
}
